/*Hola, la única modificacion que agregué aca fue en los div donde se van a cargar los productos. Solo cambie nombres*/
:root {
    font-family: 'Roboto', sans-serif;
    --primary-color: #333333;
    --secondary-color: #212121;
    --accent-color: #ddd;
    --second-accent: #C373D7;
    --bg-color: #f9f9f9;
    --dark-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1.5px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    opacity: 0.7; /* Cambia la opacidad al 70% al hacer hover */
    transition: opacity 0.3s ease; /* Agrega una transición suave */
}

h4 {
    font-size: 1.3rem;
}

/* HEADER */

.descuento {
    background-color: var(--secondary-color);
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 40px;
    line-height: 40px;
}

.descuento span {
    color: rgba(255, 255, 255, 0.938);
    position: absolute;
    animation: moverTexto 35s linear infinite;
    white-space: nowrap;
}

@keyframes moverTexto {
    0% {
        transform: translateX(100%);
        margin-left: 100%;
        margin-right: -100%;
    }

    100% {
        transform: translateX(-100%);
        margin-left: -100%;
        margin-right: 100%;
    }
}

.row-header {
    display: flex;
    background-color: var(--dark-color);
}

.col-1 {
    flex: 1;
}

.col-1 img#logo_calzados {
    width: 150px; /* Establece el ancho deseado */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    margin-left: 2rem;
}
.col-1 a:hover img#logo_calzados {
    opacity: 0.7; /* Cambia la opacidad al 70% al hacer hover */
    transition: opacity 0.3s ease; /* Agrega una transición suave */
}

.col-2 {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    align-items: center; /* Alinea verticalmente los elementos */
    margin-right: 2rem;
}
.col-2 a {
    margin-right: 20px; /* Añade un margen entre los elementos */
    font-size: 0.8rem;
    color: var(--bg-color);
}

/* HEADER NAV */

.navbar {
    background-color: var(--accent-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li {
    display: inline;
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    color: #535353;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
    z-index: 1;
    top: 100%; /* Alinea el menú desplegable con la parte inferior del tag "Hombres" */
    left: 0; /* Alinea el menú desplegable con el borde izquierdo del tag "Hombres" */
    opacity: 0; /* Inicialmente, el menú desplegable estará oculto */
    transition: opacity 0.3s ease; /* Transición suave de la opacidad */
    transform: translateY(-10px); /* Desplazamiento hacia arriba para simular un efecto de aparición */
}

.dropdown-content a {
    font-size: 13px;
    padding: 12px 16px;
    display: block;
    border-bottom: 1px solid #ccc; /* Línea separadora entre elementos */
    transition: background-color 0.3s; /* Agrega una transición suave al cambio de color de fondo */
}

/*El dropdown original tenia declarado background-color: #ddd; lo que hacía que 
la sombra sea gricesita. Pensé que estaría bueno agregar pequeños detalles sutilez 
del violeta del logo y por eso lo modifiqué para que se vea sólo cuando se pasa
el mouse por arriba*/
.dropdown-content a:hover {
    background-color: var(--second-accent);
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1; /* Al hacer hover, el menú desplegable se hace visible */
    transform: translateY(0); /* La transformación vuelve a su posición original */
}

.search-box {
    display: flex;
}

.search-box input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.search-box button {
    padding: 8px 15px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--bg-color);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #555;
}

/* MAIN */

/*Contenedor que encontramos en todos los html*/
.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

/*Contenedor de la publicidad que aparece en index.html*/
.main-ad{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    border: 2px solid var(--second-accent);
}

/*Contenedor del titulo de la pagina donde nos encontramos, se encuentra, por el momento, en 
tab-mujer.html*/
.main-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 30px;
    border-bottom: 1px solid var(--accent-color);
}

/*Contenedor donde vamos a ver los filtros por un lado y los productos por el otro*/
.main-body{
    display: flex;
    height: 90%;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 10px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.3);
}

aside {
    width: 20%; /* Ajusta el ancho según el diseño general de tu página */
    padding: 20px; /* Espacio alrededor del contenido dentro del aside */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

aside.categories {
    margin-left: 5px;
    color: var(--primary-color);
    font-size: 13px;
}

aside h3 {
    margin-bottom: 10px; /* Espacio debajo del título */
}

aside hr {
    border: 0; /* Elimina el borde predeterminado */
    height: 1px; /* Altura de la línea */
    background-color: var(--accent-color); /* Color de la línea */
    margin-bottom: 20px; /* Espacio debajo de la línea */
}

aside ul {
    list-style: none; /* Elimina los estilos predeterminados de lista */
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
}

aside ul li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

aside ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: var(--dark-color); /* Color del texto para los enlaces */
    font-size: 1rem; /* Tamaño del texto para los enlaces */
    display: block; /* Hace que los enlaces ocupen todo el espacio disponible de la lista */
}

/*Este es el contenedor donde apareceran los productos. Decidí darle display:grid
porque en teoria debería ser más facil alinear los productos entre filas y columnas.
Me costó un huevo, mucho probar. Si lo pueden mejorar, porfa pasen el código;
si creen que queda mejor con flex, no me opongo para nada.
Acá agregué los diferentes contenedores, tienen el mismo estilo pero si se fijan, 
todos se ven iguales. Acá iria el del html hombre y el de niño*/
.displayMujer, .displayAd, .displayNiños {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
    overflow-y: scroll;
}

/*.shoeDiv es el cuadradito redondeado donde se ven las imágenes del producto, el nombre
y el precio (al menos por el momento, me gustaría que pueda mostrar los colores
de cada producto y si estan disponibles o fuera de stock)*/
.shoeDiv {
    width: 200px;
    height: 250px;
    margin-left: 5%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
}

/*Ninguno de estos contenedores tienen display:flex, pero como heredan del padre .shoeDiv
sus posiciones pueden ajustarse, por eso flex:1 que le dice al div 'imageContainer'
que ocupe todo el lugar disponible y no se achique si encojen la página.*/
.imageContainer{
    flex: 1;
    position: relative;
    min-height: 0;
}

/*Esta parte recibe la animación. Si quieren chusmear lo que hace, comenten
las lineas de abajo hasta lilDisplay. Van a ver que ambas se encuentran visibles, 
la animación lo que hace es que 'sideImage' sea transparente y cuando pasamos
el mouse por arriba del contenedor 'shoeDiv', 'sideImage' cambie su opacidad a 1
mientras que 'frontImage' se vuelva transparente. Tambien le agregué un detalle
para que cada 'shoeDiv' resalte, se levanta y brilla en color violeta mientras
el mouse se encuentra arriba del contenedor.*/

.frontImage, .sideImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.sideImage{
    opacity: 0;
}

.shoeDiv:hover{
    transform: translateY(-10px);
    cursor: pointer;
    border: 2px solid var(--second-accent);
    box-shadow: 0px 8px 16px 0 rgba(195,115,215,0.3);
}

.shoeDiv:hover .frontImage, .imageContainer:hover .frontImage{
    opacity: 0;
}

.shoeDiv:hover .sideImage, .imageContainer:hover .sideImage{
    opacity: 1;
}

.ribbon{
    display: inline-block;
    padding: 5px 15px;
	position: absolute;
    right: 0px;
    top: 0px;
    line-height: 24px;
	height:35px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
	border-radius: 0;
    text-shadow: none;
    font-weight: bold;
    background-color: var(--second-accent);
    color: var(--bg-color);
}

/*Por último, lilDisplay también tiene hijos. Como ambos son textos, modifique
el CSS solo para que se alinee al centro, esto va a cambiar si es que queremos
mostrar los colores de los productos y el stock disponible. */

.lilDisplay{
    text-align: center;
    padding: 5px;
} 

.priceCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.priceDisc{
    text-decoration:line-through;
    color: var(--primary-color);
}

.newPrice{
    font-weight: bold;
}

/* Dialog */
.dialog::backdrop {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
    top: 10%;
    left: 15%;
    position: absolute;
    width: 70vw;
    height: 90vh;
    background-color: var(--bg-color);
    box-shadow: 5px 10px var(--primary-color);
    border-radius: 8px;
    border: none;
}

.closeContainer{
    display: flex;
    justify-content: flex-end;
}

.displayContainer{
    display: flex;
    width: 100%;
    height: 90%;
    padding: 10px 30px;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 10px;
}

.rightContainer h1{
    text-align: center;
}

/* Botones del Dialog */
.dialog button{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--bg-color);
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.dialog button:hover {
    background-color: var(--second-accent);
}

.dialog button:active{
    background-color: var(--second-accent);
    color: var(--secondary-color);
}

.dialog .closeBtn{
    border-radius: 0 0 0 8px;
}

.dialog .plusBtn, .dialog .minusBtn{
    padding: 5px;
    border-radius: 4px;
    background-color: var(--primary-color);
}

.dialog .cartBtn{
    font-size: 12px;
    padding: 2px 5px;
}

.shoppingCart{
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 5vh;
    gap: 1px;
}

.quantity{
    display: flex;
    width: 7vw;
}
.counter{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    text-align: center;
    width: 3vw;
    font-size: 16px;
    color: var(--second-accent);
    font-weight: 300;
    background-color: var(--bg-color);
}
/* Chrome, Safari, Edge, Opera */
.counter::-webkit-outer-spin-button,
.counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.counter[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* FOOTER */

.row {
    padding: 2rem;
    display: flex; /* Esto activa Flexbox para el contenedor */
    flex-wrap: wrap; /* Permite que los elementos se pasen a la siguiente línea si no hay espacio */
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.footer-content {
    background-color: var(--dark-color);
}

.footer-legal {
    background-color: var(--secondary-color);
}

.col-redes, .col-navegacion, .col-medios, .col-newsletter {
    flex: 1; /* Cada columna toma un igual porcentaje del espacio disponible */
    color: var(--bg-color);
    margin-right: 20px;
    max-width: 200px;
}

/* Estilos para la columna de envíos */
.col-medios .envios {
    margin-top: 20px; /* Añade un espacio entre las dos secciones dentro de la columna de medios */
}

/* Estilos adicionales para mejor visualización */
.col-redes a, .col-navegacion ul {
    margin: 10px 0; /* Añade un poco de margen superior e inferior para separar los elementos */
}

.col-redes h4 {
    margin-left: 5px;
}

.col-medios h4, .col-newsletter h4 {
    margin-bottom: 1.5rem;
}

.col-redes a {
    padding-top: 1rem; /* Añade un padding superior de 1rem */
    margin: 0 5px 0 5px;
    display: inline-block; /* Esto asegura que el padding se aplique correctamente */
    color: var(--second-accent);
}

.navegacion li {
    padding-top: 1rem;
}

.navegacion a {
    color: var(--bg-color);
}

.copyright, .copyright a {
    color: var(--accent-color);
    font-size: 12px;
}

.copyright a:hover {
    text-decoration: underline;
}

.input-field {
    width: 200px;
    height: 35px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .1);
    border: none;
    outline: none;
    font-size: 14px;
    margin-bottom: 10px;
}

.submit-button {
    background-color: var(--dark-color);
    color: var(--bg-color);
    font-size: 12px;
    font-weight: bolder;
    padding: 12px 20px;
    border: none;
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    margin-top: 5px;
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    transition-delay: 0.1s; /* Retraso de 0.2 segundos */
}

.submit-button:hover {
    background-color: #313131; /* Cambia el color de fondo al pasar el cursor por encima */
}

/* Estilos para el contenedor de las imágenes */
.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32px, 1fr)); /* Columnas dinámicas */
    max-width: 200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    gap: 2px;
}

/* Estilos para las imágenes */
.image-container img {
    width: auto; /* Ancho automático */
    max-height: 20px; /* Altura máxima de 32px */
    margin: 2px; /* Margen de 2px alrededor de cada imagen */
}

/* Contacto */

.container-form {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px; /*Le agregué un margen por debajo para que no quede pegado el botón al footer*/
}

.container-form h2 {
    margin-bottom: 15px;
    font-size: 28px;
    text-align: center;
}

.container-form p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}
 

.container-form form .campo,
.container-form form textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 140px;
    max-height: 150px;
}

input[type='text'], input[type='email'], input[type='tel'], textarea {
    box-sizing: border-box;
}

.container-form .btn-enviar {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: rgba(234, 224, 224, 0.5);
    color: rgb(152, 94, 94);
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
    background: rgba(186, 173, 173, 0.3);
}


.info-form a {
    font-size: 16x;
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 900;
    display: inline-block; /* Cambia a inline-block para que los enlaces estén en la misma línea */
    margin-right: 500px; /* Agrega un espacio a la derecha del primer enlace */
}

.info-form a:last-child {
    margin-right: 0; /* Elimina el margen derecho del último enlace para evitar espacio adicional */
}

.error{
    font-size: 15px;
    color: red;
    margin-top: 0px;
}

/* BOTÓN WHATSAPP */

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 60px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}

/*CREADORES*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.creadores-header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.25em; /* Tamaño de letra para el encabezado */
}
.creators-section {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px 30px;
}

.creator {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 40%;
    margin: 20px 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}

.creator img {
    width: 100%;
    border-radius: 5px;
    height: auto;
}

.creator h2 {
    margin: 15px 0 10px;
    font-size: 1.5em;
}

.creator p {
    font-size: 1em;
    color: #555;
}

.creadores-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    font-size: 0.85em; /* Tamaño de letra para el pie de página */
}

.creadores-footer a{
    color: var(--accent-color);
}